@import url(https://fonts.googleapis.com/css?family=Candara);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Century-Gothic);


body{
  text-align: center;
  font-family:Candara;
  font-weight: lighter;
  font-size: medium;
}
#videos{
  display: none;
}
h3{
  font-weight: 500;
}
p{
  font-size: 15pt;
}
button{
  width: auto;
  height: auto;
}

#top{
  width: 250px;
  height: 50px;
  font-size: 11pt;
  text-align: center;
}

input[type=text]{
  width: 250px;
  font-family: Candara;
  font-weight: normal;
  color: rgb(161, 161, 161);
  border-radius: 10px;
  border-color: rgb(161, 161, 161);
}

input[type="file"] {
  display: none;
}

#label1{
  display: none;
}

#labell1{
  display: none;
}

#label {
  line-height: 250px;
  font-size:30pt;
  width: 500px;
  height:250px;
  background-color: rgb(206, 206, 206);
  color: rgb(196, 196, 196);
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px;
}

#labell{
  width: 100px;
  height: 100px;
  line-height: 50px;
  font-weight: lighter;
  font-size: 15pt;
  font-family: "Candara";
  background-color:rgb(179, 179, 179);
  color: rgb(126, 126, 126);
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px;
}

#ppp{
    width: 250px;
    height: 100px;
  font-family: Candara;
  font-weight: normal;
  color: rgb(161, 161, 161);
  border-radius: 10px;
  font-size: 11pt;
  text-align: center;
}

#bgcolor{
  width: 100px;
  height: 50px;
  border-radius: 10px;
}

#py{
  font-size: 14pt;
}

input[type="email"]{
  display: none;
}

#area{
  font-size: 13pt;
}

#font{
  display:none;
}



select{
  background-color: rgba(255, 238, 212, 0.911);
  font-size: medium;
  font-family: candara;
  font-weight: lighter;
  color: rgb(161, 161, 161);
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}


#padrao{
  font-weight: lighter;
  font-family: "candara";
}

#sans{
  font-weight: normal;
  font-family: sans-serif;
  color: black;

}

#candara{
  font-weight: normal;
  font-family: "candara";
  color: black;

}

#calibri{
  font-weight: normal;
  font-family: "calibri";
  color: black;

}

#century{
  font-weight: lighter;
  font-family: "century gothic";
  color: black;
}


#arial{
  font-weight: lighter;
  font-family: "Arial";
  color: black;
}

#courier{
  font-weight: lighter;
  font-family: "Courier";
  color: black;
}


#optima{
  font-weight: lighter;
  font-family: "Optima";
  color: black;
}


#raleway{
  font-weight: lighter;
  font-family: raleway;
  color: black;
}


fieldset {
  border: 0;
}

body, input, select, textarea, button {
  font-family: sans-serif;
  font-size: 1em;
}

.grupo:before, .grupo:after {
  content: " ";
  display: table;
}

.grupo:after {
  clear: both;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #666;
  display: block;
}

fieldset.grupo .campo {
  float:  left;
  margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
  background: #FFC;
}

.campo label.checkbox {
  color: #000;
  display: inline-block;
  margin-right: 1em;
}

.botao {
  font-size: 15pt;
  width: auto;
  height: auto;
  background: #F90;
  border: 0;
  margin-bottom: 1em;
  color: #FFF;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
  background: #FB0;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
}

.botao, select, label.checkbox {
  cursor: pointer;
}



